<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheIsleAdminHelp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheIsleAdminHelp.Properties.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheIsleAdminHelp.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TheIsleAdminHelp.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>passwd</value>
            </setting>
        </TheIsleAdminHelp.Properties.Settings>
        <TheIsleAdminHelp.Properties.config>
            <setting name="host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>passwd</value>
            </setting>
        </TheIsleAdminHelp.Properties.config>
        <TheIsleAdminHelp.config>
            <setting name="host" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </TheIsleAdminHelp.config>
    </userSettings>
</configuration>