<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TheIsleAdminHelp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TheIsleAdminHelp.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>passwd</value>
            </setting>
        </TheIsleAdminHelp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WinSCPnet" publicKeyToken="2271ec4a3c56d0bf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.6.8967" newVersion="1.5.6.8967" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>